body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 13px;
  line-height: 20px;
}

.button__effect:hover {
  background-color: #444444;
  transition: all 0.3s;
}

.button__effect:active {
  background-color: #131313;
  color: #b9b9b9;
  transition: all 0.3s;
}

.logo {
  text-decoration: none;
  pointer-events: none;
}

.slider {
  height: auto;
}

.slider img {
  width: 100%;
}

.header-block-search .visible_mobile {
  width: 27px;
}

@media (min-width: 1921px) {
  .container {
    margin: 0 auto;
  }
  .wrapper {
    max-width: 1000px;
  }
  .main-header {
    width: 100%;
    background: #000 url("../img/header-top-bg.png") repeat-x;
  }
  .main-header .header-top {
    display: flex;
    justify-content: space-between;
    height: 60px;
  }
  .main-header .header-top .header-block-logo {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .main-header .header-top .header-block-search {
    min-width: 43.8%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .main-header .header-top .header-block-search .visible_mobile {
    display: none;
  }
  .main-header .logo {
    font-size: 36px;
    font-stretch: ultra-condensed;
    letter-spacing: -2px;
    line-height: 20px;
    color: white;
    margin-top: 8%;
  }
  .main-header .logo .logo-gray-text {
    color: #b0b0b0;
  }
  .search-input {
    width: 80%;
    height: 27px;
    background-color: #323232;
    border: 1px solid #4c4c4c;
  }
  .search-button {
    width: 75px;
    height: 27px;
    background-color: #000;
    border: 1px solid #4c4c4c;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
  }
  .logo-description {
    margin: 0;
    margin-top: 3px;
    color: #686868;
  }
  .header-slider-block {
    background: #000;
  }
  .slide {
    position: relative;
  }
  .slide .slide__description {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 57px;
    display: flex;
  }
  .slide .slide__description .slide__text {
    color: white;
    max-width: 36%;
    font-size: 12px;
    line-height: 14px;
    margin-left: 2%;
    align-content: center;
  }
}

@media (min-width: 768px) and (max-width: 1920px) {
  .container {
    margin: 0 auto;
  }
  .wrapper {
    min-width: 541px;
  }
  .main-header {
    width: 100%;
    background: #000 url("../img/header-top-bg.png") repeat-x;
  }
  .main-header .header-top {
    display: flex;
    justify-content: space-between;
    height: 60px;
  }
  .main-header .header-top .header-block-logo {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .main-header .header-top .header-block-search {
    width: 40%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .main-header .header-top .header-block-search .visible_desctop {
    display: none;
  }
  .main-header .logo {
    font-size: 30px;
    font-stretch: ultra-condensed;
    letter-spacing: -2px;
    line-height: 20px;
    color: white;
    margin-top: 8%;
  }
  .main-header .logo .logo-gray-text {
    color: #b0b0b0;
  }
  .search-input {
    width: 90%;
    height: 27px;
    background-color: #323232;
    border: 1px solid #4c4c4c;
  }
  .search-button {
    width: 75px;
    height: 27px;
    background-color: #000;
    border: 1px solid #4c4c4c;
    color: #fff;
  }
  .logo-description {
    margin: 0;
    margin-top: 3px;
    color: #686868;
  }
  .header-slider-block {
    background: #000;
    height: auto;
  }
  .header-slider-block .header-slider-text {
    margin: 0;
    min-height: 330px;
  }
  .slide {
    position: relative;
  }
  .slide .slide__description {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 57px;
    display: flex;
  }
  .slide .slide__description .slide__text {
    color: white;
    max-width: 100%;
    font-size: 12px;
    line-height: 14px;
    margin-left: 2%;
    align-content: center;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .container {
    margin: 0;
  }
  .main-header {
    width: 100%;
    background: #000 url("../img/header-top-bg.png") repeat-x;
  }
  .main-header .header-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 60px;
  }
  .main-header .header-top .header-block-logo {
    margin: 0;
    padding-left: 3%;
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .main-header .header-top .header-block-search {
    width: 45%;
    margin: 0;
    padding-right: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .main-header .header-top .header-block-search .visible_desctop {
    display: none;
  }
  .main-header .logo {
    font-size: 25px;
    font-stretch: ultra-condensed;
    letter-spacing: -2px;
    line-height: 20px;
    color: white;
    margin-top: 8%;
  }
  .main-header .logo .logo-gray-text {
    color: #b0b0b0;
  }
  .search-input {
    width: 80%;
    height: 27px;
    background-color: #323232;
    border: 1px solid #4c4c4c;
  }
  .search-button {
    width: 75px;
    height: 27px;
    background-color: #000;
    border: 1px solid #4c4c4c;
    color: #fff;
  }
  .logo-description {
    display: none;
    margin: 0;
    margin-top: 3px;
    color: #686868;
  }
  .header-slider-block {
    background: #000;
    height: auto;
  }
  .header-slider-block .header-slider-text {
    margin: 0;
    min-height: 330px;
  }
  .slide {
    position: relative;
  }
  .slide .slide__description {
    display: none;
  }
}

.main {
  background: #E7E7E7 url("../img/main-bg.png");
}

.main .wrapper {
  background-color: #fff;
}

.main .main-content {
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
}

.main-navigation-list {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #000;
}

.main-navigation-list li {
  list-style: none;
  display: flex;
  border-right: 1px solid #272727;
}

.main-navigation-list li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  line-height: 30px;
  font-weight: bold;
  padding: 0 24px;
}

.main-padding-conteiner {
  padding: 0 20px 0 15px;
}

.main-blocks-heading {
  color: #838383;
  font-size: 20px;
}

.main-blocks-heading:first-letter {
  color: #000;
}

.main-about .first-heading {
  font-size: 30px;
  margin-top: 16px;
  margin-bottom: 11px;
}

.main-about .main-about-text {
  width: 100%;
  margin: 0;
}

.main-about .main-about-text a {
  color: #0075d0;
}

.main-about .main-about-text a:hover {
  color: #0061ac;
}

.main-about .main-about-text a:active {
  color: #2a008b;
}

.main-about .main-about-blockquote {
  margin: 0;
}

.main-about .main-about-blockquote p {
  font-style: italic;
  color: #8b8b8b;
  margin: 11px 0 0 19px;
}

.main-images .image-heading {
  margin-top: 29px;
  margin-bottom: 9px;
}

.main-images .images-block {
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-images .images-block img {
  border: 12px solid #e2e2e2;
  margin-bottom: 27px;
}

.main-lists-block .list-heading {
  margin: 0;
  margin-bottom: 14px;
}

.main-lists-block .main-lists {
  display: flex;
  flex-wrap: wrap;
}

.main-lists-block .lists-marker {
  min-width: 257px;
}

.main-lists-block .lists-marker li {
  font-size: 13px;
  font-weight: bold;
}

.main-lists-block .lists-number,
.main-lists-block .lists-marker,
.main-lists-block .lists-desctiption {
  margin-top: 0;
  margin-bottom: 25px;
  margin-right: 50px;
}

.main-lists-block .lists-number {
  min-width: 251px;
}

.main-lists-block .lists-desctiption {
  text-align: center;
  min-width: 268px;
  margin-right: 0;
}

.main-form-block {
  padding-bottom: 24px;
}

.main-form-block .main-form {
  display: flex;
  flex-direction: column;
}

.main-form-block .form-title {
  margin-top: 24px;
  margin-bottom: 21px;
}

.main-form-block .input-text {
  width: 224px;
  height: 30px;
  border: 1px solid #b7b7b7;
  -webkit-box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  padding: 0 9px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.main-form-block .form-options {
  width: 224px;
  height: 30px;
  border: 1px solid #b7b7b7;
  margin-bottom: 20px;
}

.main-form-block .checkbox-container {
  display: flex;
  margin-bottom: 5px;
}

.main-form-block .checkbox-container .checkbox-label {
  margin-left: 5px;
}

.main-form-block .radio-container {
  display: flex;
  margin-bottom: 12px;
}

.main-form-block .radio-container .radio-label {
  margin-left: 5px;
}

.main-form-block .textarea-form {
  width: 304px;
  height: 124px;
  resize: none;
}

.main-form-block .form-button {
  width: 91px;
  height: 35px;
  background-color: #202020;
  border: none;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  margin-top: 15px;
}

.main-form-block .button__effect:hover {
  background-color: #444444;
  transition: all 0.3s;
}

.main-form-block .button__effect:active {
  background-color: #131313;
  color: #b9b9b9;
  transition: all 0.3s;
}

@media (min-width: 1921px) {
  .container {
    margin: 0 auto;
  }
  .wrapper {
    max-width: 1000px;
  }
  .main-table-block .table-heading {
    margin-top: 20px;
    margin-bottom: 18px;
  }
  .main-table-block .main-table {
    border: 1px solid #d5d5d5;
    border-collapse: collapse;
  }
  .main-table-block .main-table th {
    border: 1px solid #d5d5d5;
    text-align: left;
    background-color: #efefef;
    line-height: 30px;
    padding-left: 9px;
  }
  .main-table-block .main-table td {
    border: 1px solid #d5d5d5;
    line-height: 30px;
    padding: 0;
    padding-left: 9px;
  }
  .main-table-block .main-table td:first-of-type {
    width: 140px;
  }
  .main-table-block .main-table td:nth-of-type(2) {
    width: 270px;
  }
  .main-table-block .main-table td:nth-of-type(3) {
    width: 325px;
  }
  .main-table-block .main-table td:last-of-type {
    width: 225px;
  }
}

@media (min-width: 768px) and (max-width: 1920px) {
  .container {
    margin: 0 auto;
  }
  .wrapper {
    max-width: 51%;
    min-width: 541px;
  }
  .main-images .images-block {
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .main-images .images-block img {
    border: 12px solid #e2e2e2;
  }
  .main-lists {
    justify-content: space-around;
  }
  .main-lists .lists-desctiption {
    flex-grow: 1;
  }
  .main-lists .lists-number,
  .main-lists .lists-marker,
  .main-lists .lists-desctiption {
    margin: 0;
    margin-bottom: 25px;
  }
  .main-table-block .table-heading {
    margin-top: 20px;
    margin-bottom: 18px;
  }
  .main-table-block .main-table {
    width: 100%;
    border: 1px solid #d5d5d5;
    border-bottom: 0;
    border-collapse: collapse;
  }
  .main-table-block .main-table tr:first-of-type {
    display: none;
  }
  .main-table-block .main-table tr {
    margin-bottom: 0px;
    display: block;
  }
  .main-table-block .main-table td {
    display: block;
    text-align: right;
    font-size: 13px;
    line-height: 30px;
    border-bottom: 1px solid #d5d5d5;
    padding: 0;
    padding-right: 50px;
    box-sizing: border-box;
  }
  .main-table-block .main-table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    background-color: #efefef;
    text-align: left;
    padding-left: 20px;
    padding-right: 20%;
  }
  .main-table-block .main-table td:first-child:before {
    width: 150.266px;
    padding-right: 20%;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .container {
    margin: 0 auto;
  }
  .wrapper {
    max-width: 100%;
    min-width: 320px;
  }
  .main-navigation-list {
    display: flex;
    justify-content: space-between;
  }
  .main-navigation-list li a {
    padding: 0 36px;
  }
  .main-images .images-block {
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .main-images .images-block img {
    border: 12px solid #e2e2e2;
    flex-grow: 2;
  }
  .main-lists {
    justify-content: space-around;
  }
  .main-lists .lists-desctiption {
    flex-grow: 1;
  }
  .main-lists .lists-number,
  .main-lists .lists-marker,
  .main-lists .lists-desctiption {
    margin: 0;
    margin-bottom: 25px;
  }
  .main-table-block .table-heading {
    margin-top: 20px;
    margin-bottom: 18px;
  }
  .main-table-block .main-table {
    width: 100%;
    border: 1px solid #d5d5d5;
    border-bottom: 0;
    border-collapse: collapse;
  }
  .main-table-block .main-table tr:first-of-type {
    display: none;
  }
  .main-table-block .main-table tr {
    margin-bottom: 0px;
    display: block;
  }
  .main-table-block .main-table td {
    display: block;
    text-align: right;
    font-size: 13px;
    line-height: 30px;
    border-bottom: 1px solid #d5d5d5;
    padding: 0;
    padding-right: 50px;
    box-sizing: border-box;
  }
  .main-table-block .main-table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    background-color: #efefef;
    text-align: left;
    padding-left: 20px;
    padding-right: 20%;
  }
  .main-table-block .main-table td:first-child:before {
    width: 150.266px;
    padding-right: 20%;
  }
}

.main-footer {
  background: #E7E7E7 url("../img/main-bg.png");
  padding: 10px 0;
}

.main-footer .copyright {
  margin: 0;
  color: #656565;
}

.main-footer .copyright a {
  color: #0075d0;
}

.main-footer .copyright a:hover {
  color: #0061ac;
}

.main-footer .copyright a:active {
  color: #2a008b;
}

.main-footer .copyright span {
  margin-right: 3px;
}

.slick-prev,
.slick-next {
  width: 20% !important;
  height: 100% !important;
}

.slick-prev {
  left: 0 !important;
  z-index: 100 !important;
}

.slick-prev:before {
  content: '' !important;
}

.slick-next:before {
  content: '' !important;
}

.slick-next {
  right: 0 !important;
}
