.main {
    background: #E7E7E7 url("../img/main-bg.png");

    .wrapper {
        background-color: #fff;
    }

    .main-content {
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
    }
}

.main-navigation-list {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #000;

    li {
        list-style: none;
        display: flex;
        border-right: 1px solid #272727;
        
        a {
            text-decoration: none;
            color: #fff;
            font-size: 14px;   
            line-height: 30px;
            font-weight: bold;
            padding: 0 24px;

        }
    }
}

.main-padding-conteiner {
    padding: 0 20px 0 15px;
}

.main-blocks-heading {
    color: $h-main-color;
    font-size: 20px;
    
    &:first-letter {
        color: #000;
    }
}

.main-about {    
    .first-heading {
        font-size: 30px;
        margin-top: 16px;
        margin-bottom: 11px;
    }
    
    .main-about-text {
        width: 100%;
        margin: 0;

        a {
            color: #0075d0;

            &:hover {
                color: #0061ac;
            }

            &:active {
                color: #2a008b;
            }
        }
    }

    .main-about-blockquote {
        margin: 0;
        p {
            font-style: italic;
            color: #8b8b8b;
            margin: 11px 0 0 19px;
        }
    }
}

.main-images {
    .image-heading {
        margin-top: 29px;
        margin-bottom: 9px;
    }
    
    .images-block {
        margin: 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        img {
            border: 12px solid #e2e2e2;
            margin-bottom: 27px;
        }
    }
}

.main-lists-block {
    .list-heading {
        margin: 0;
        margin-bottom: 14px;
    }
    .main-lists {
        display: flex;
        flex-wrap: wrap;
    }
    .lists-marker {
        min-width: 257px;
        li {
            font-size: 13px;
            font-weight: bold;
        }
    }
    .lists-number,
    .lists-marker,
    .lists-desctiption {
        margin-top: 0;
        margin-bottom: 25px;
        margin-right: 50px;
    }
    .lists-number {
        min-width: 251px;
    }

    .lists-desctiption {
        text-align: center;
        min-width: 268px;
        margin-right: 0;
    }
}

.main-form-block {
    padding-bottom: 24px;
    .main-form {
        display: flex;
        flex-direction: column; 
    }

    .form-title {
        margin-top: 24px;
        margin-bottom: 21px;
    }

    .input-text {
        width: 224px;
        height: 30px;
        border: 1px solid #b7b7b7;
        -webkit-box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.15);
        -moz-box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.15);
        box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.15); 
        padding: 0 9px;
        box-sizing: border-box;
        margin-bottom: 15px;
    }

    .form-options {
        width: 224px;
        height: 30px;
        border: 1px solid #b7b7b7;
        margin-bottom: 20px;
    }

    .checkbox-container {
        display: flex;
        margin-bottom: 5px;

        .checkbox-label {
            margin-left: 5px;
        }
    }

    .radio-container {
        display: flex;
        margin-bottom: 12px;

        .radio-label {
            margin-left: 5px;
        }
    }

    .textarea-form {
        width: 304px;
        height: 124px;
        resize: none;
    }

    .form-button {
        width: 91px;
        height: 35px;
        background-color: #202020;
        border: none;
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        margin-top: 15px;
    }

    .button__effect {
        &:hover {
            background-color: #444444;
            transition: all 0.3s;
        }

        &:active {
            background-color: rgb(19, 19, 19);
            color: #b9b9b9;
            transition: all 0.3s;
        }
    } 
    
}

.main-footer {
    background: #E7E7E7 url("../img/main-bg.png");
    padding: 10px 0;

    .copyright {
        margin: 0;
        color: #656565;

        a {
            color: #0075d0;

            &:hover {
                color: #0061ac;
            }

            &:active {
                color: #2a008b;
            }
        }

        span {
            margin-right: 3px;
        }
    }
}

@media (min-width: 1920px) {
.container {
    margin: 0 auto;
}
    
.wrapper {
    max-width: $max-width-desctop;
}

.main-table-block {
    .table-heading {
        margin-top: 20px;
        margin-bottom: 18px;
    }

    .main-table {
        border: 1px solid #d5d5d5;
        border-collapse: collapse;
        th {
            border: 1px solid #d5d5d5;
            text-align: left;
            background-color: #efefef;
            line-height: 30px;
            padding-left: 9px;
        }
        td {
            border: 1px solid #d5d5d5;
            line-height: 30px;
            padding: 0;
            padding-left: 9px;
        }
        tr {
        }
        td:first-of-type {
            width: 140px;
        }
        td:nth-of-type(2) {
            width: 270px;
        }

        td:nth-of-type(3) {
            width: 325px;
        }

        td:last-of-type {
            width: 225px;
        }
    }
}

}

@media (min-width: 768px) and (max-width: 1920px) {
.container {
    margin: 0 auto;
}
    
.wrapper {
    max-width: $wrap-max-width;
    min-width: $wrap-min-width;
}

.main-images {
    .images-block {
        margin: 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        img {
            border: 12px solid #e2e2e2;
        }
    }
}

.main-lists {
    justify-content: space-around;
    .lists-desctiption {
        flex-grow: 1;
    }
    .lists-number,
    .lists-marker,
    .lists-desctiption {
        margin: 0;
        margin-bottom: 25px;
    }
}

.main-table-block {

    .table-heading {
        margin-top: 20px;
        margin-bottom: 18px;
    }

    .main-table {
        width: 100%;
        border: 1px solid #d5d5d5;
        border-bottom: 0;
        border-collapse: collapse;

        tr:first-of-type {
            display: none;
        }

        tr {
            margin-bottom: 0px;
            display: block;
          }

        td {
            display: block;
            text-align: right;
            font-size: 13px;
            line-height: 30px;
            border-bottom: 1px solid #d5d5d5;
            padding: 0;
            padding-right: 50px;
            box-sizing: border-box;
          }

        td:before {
            content: attr(data-label);
            float: left;
            font-weight: bold;
            background-color: #efefef;
            text-align: left;
            padding-left: 20px;
            padding-right: 20%;
          }

        td:first-child:before {
            width: 150.266px;
            padding-right: 20%;
        }
          
    }
}

}